#                                                 "Medical Treatment Outcomes and Financial Analysis"

### üìç TASK 2: Data Cleaning & Pre-processing 
#### Handling missing data, duplicates, formatting, derived features, and transformation.

#### Data Pre-processing

#### ‚óè Perform all necessary cleaning steps such as :

     1. Handling missing values
     2. Removing duplicates 
     3. Correcting data types
     4. Creating derived columns
     5. Filtering or aggregating data

### 1Ô∏è‚É£ Importing Libraries

In [3]:
import numpy as np
import pandas as pd

### 2Ô∏è‚É£ Reading the Dataset

In [176]:
df = pd.read_csv(r"C:\Users\Surface Pro\Downloads\healthcare_dataset.csv")

### ‚û§ Loading the First 5 Columns of HealthCare Dataset

In [177]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

### 3Ô∏è‚É£ Data Pre-processing

### ‚è≥ 1. Handling missing values

üîë Checking For Missing Value : 
       Summing up to Find Total Number of Missing Value in this Dataset.

üîë Inference :
       In this Data-Set, there is NO Missing Value. So, no action taken.

In [178]:
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

### ‚è≥ 2. Removing duplicates

#### üîë A . Finding the Total Number of Duplicated Data in the Health-Care DataSet

In [179]:
df.duplicated().sum()

534

#### üîë B. Removing the Duplicated Data

In [180]:
df.drop_duplicates(inplace=True)

In [181]:
df.duplicated().sum()   # Checking the Duplicated Data is Removed

0

### ‚è≥ 3. Formating Data

### üîë A. Strip whitespace and convert to title case from Name Column

In [182]:
df["Name"] = df["Name"].str.strip().str.title()  # Name column

In [183]:
df.head(2)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive

### üîë B. Strip whitespace and convert to title case from Hospital column

In [184]:
df['Hospital'] = df['Hospital'].str.strip().str.rstrip('')

### üîë C. Re-arranging 'and Montes Graves, Thomas' to 'Thomas and Montes Graves'

In [185]:
# Targeting rows where the name ends with ", Thomas" and reformatting
df['Hospital'] = df['Hospital'].str.replace(r',\s*Thomas$', '', regex=True).str.strip()
df['Hospital'] = df['Hospital'].apply(lambda x: 'Thomas ' + x if 'Montes Graves' in x else x)

### üîë D. Remove 'and' from the Begining from Hospital Column

In [186]:
df['Hospital'] = df['Hospital'].str.lstrip("and ")

In [187]:
df['Hospital'] = df['Hospital'].str.lstrip("And ")

### üîë E. Remove 'and' from the End of Hospital Column

In [189]:
df['Hospital'] = df['Hospital'].str.rstrip(" and")
df.head(3)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal

### ‚è≥ 4. Correcting Data Type

### üîë A. # Standardize Insurance Provider

In [190]:
df['Insurance Provider'] = df['Insurance Provider'].str.replace('UnitedHealthcare', 'United Healthcare', regex=False) 
# Standardize Insurance Provider names

In [192]:
df.head(7)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
5,Emily Johnson,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,United Healthcare,48145.110951,389,Urgent,2023-12-24,Ibuprofen,Normal
6,Edward Edwards,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleto,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive

### üîë B. Converting Strings to Dates

#### ‚ñ∂Ô∏è B1. Converting String to Date Formmat

In [198]:
df['Date of Admission'] = pd.to_datetime(df['Date of Admission'], errors='coerce')
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'], errors='coerce')

In [199]:
df.head(3)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,205,Emergency,2022-10-07,Aspirin,Normal

### ‚ñ∂Ô∏è B2. Rounding off Float Decimal Point into 2

In [200]:
df['Billing Amount'] = df['Billing Amount'].round(2)
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,328,Urgent,2024-02-02,Paracetamol,Normal
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,205,Emergency,2022-10-07,Aspirin,Normal
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,458,Urgent,2022-10-09,Penicillin,Abnormal

### ‚è≥ 5. Creating Derived Column

### üîë A. Calculate Length of Stay

In [201]:
 df['Length of Stay'] = (df['Discharge Date'] - df['Date of Admission']).dt.days

In [140]:
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons And Miller,Blue Cross,18856.28,Urgent,2024-02-02,Paracetamol,Normal,2
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,Emergency,2019-08-26,Ibuprofen,Inconclusive,6
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook Plc,Aetna,27955.10,Emergency,2022-10-07,Aspirin,Normal,15
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,Hernandez Rogers And Vang,Medicare,37909.78,Elective,2020-12-18,Ibuprofen,Abnormal,30
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,Urgent,2022-10-09,Penicillin,Abnormal,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,Elizabeth Jackson,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompso,Blue Cross,2650.71,Elective,2020-09-15,Penicillin,Abnormal,30
55496,Kyle Perez,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.80,Elective,2020-02-01,Aspirin,Normal,9
55497,Heather Wang,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,Mahoney Johnson Vasquez,United Healthcare,27620.76,Urgent,2020-08-10,Ibuprofen,Abnormal,28
55498,Jennifer Jones,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,Jackson Todd And Castro,Medicare,32451.09,Elective,2019-05-31,Ibuprofen,Abnormal,6
55499,James Garcia,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons A,Aetna,4010.13,Urgent,2024-04-29,Ibuprofen,Abnormal,27

### üì© Saving the Cleaned Data-Set:

In [202]:
df.to_csv("cleaned_HealthCareData.csv", index=False)

### ‚è≥ 5Ô∏è‚É£ Filtering or aggregating data

### üîë A. Filtering data based on Length of Stay (25 days and above)

In [203]:
df_long_stay = df[df['Length of Stay'] >= 25]

In [204]:
# Set 'Length of Stay' as the index
df_long_stay = df_long_stay.set_index('Length of Stay')
df_long_stay

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
Length of Stay,,,,,,,,,,,,,,,
30,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,450,Elective,2020-12-18,Ibuprofen,Abnormal
30,Christopher Berg,58,Female,AB-,Cancer,2021-05-23,Heather Day,Padilla-Walker,United Healthcare,19784.63,249,Elective,2021-06-22,Paracetamol,Inconclusive
28,Robert Bauer,68,Female,AB+,Asthma,2020-05-22,Theresa Freeman,Rivera-Gutierrez,United Healthcare,33207.71,309,Urgent,2020-06-19,Lipitor,Normal
25,Mrs. Jamie Campbell,38,Male,AB-,Obesity,2020-03-08,Justin Kim,"Torres, and Harrison Jones",Cigna,17440.47,449,Urgent,2020-04-02,Paracetamol,Abnormal
29,Kathryn Stewart,58,Female,O+,Arthritis,2022-05-12,Vanessa Newton,Clark-Mayo,Aetna,5998.10,327,Urgent,2022-06-10,Lipitor,Inconclusive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Deborah Pearson,34,Male,A+,Obesity,2022-01-05,David Williams,Stone-Stout,Blue Cross,25051.50,144,Elective,2022-02-04,Paracetamol,Normal
26,Gloria Bowen,57,Female,B-,Arthritis,2022-07-23,Lucas Thompson,Group Gonzalez,Medicare,3954.85,463,Emergency,2022-08-18,Aspirin,Abnormal
30,Elizabeth Jackson,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompso,Blue Cross,2650.71,417,Elective,2020-09-15,Penicillin,Abnormal
28,Heather Wang,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"Mahoney Johnson Vasquez,",United Healthcare,27620.76,347,Urgent,2020-08-10,Ibuprofen,Abnormal
27,James Garcia,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons,Aetna,4010.13,448,Urgent,2024-04-29,Ibuprofen,Abnormal

### üîë B. Aggregating Data

### ‚ñ∂Ô∏è B1. Finding Count of Gender

In [205]:
df.groupby('Gender').count()

,Name,Age,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
Gender,,,,,,,,,,,,,,,
Female,27470,27470,27470,27470,27470,27470,27470,27470,27470,27470,27470,27470,27470,27470,27470
Male,27496,27496,27496,27496,27496,27496,27496,27496,27496,27496,27496,27496,27496,27496,27496

### ‚ñ∂Ô∏è B2. Average of all medical condition

In [206]:
df.groupby('Medical Condition').mean(numeric_only = True)

                         Age  Billing Amount  Room Number  Length of Stay
Medical Condition
Arthritis          51.540464    25511.783245   300.800065       15.504231
Asthma             51.595382    25633.461647   302.312259       15.677295
Cancer             51.542123    25152.322927   302.123304       15.501204
Diabetes           51.581814    25660.478627   301.383681       15.430664
Hypertension       51.717954    25503.058694   299.587805       15.436236
Obesity            51.233217    25804.361860   300.547999       15.447627

In [207]:
df.groupby('Medication').sum(numeric_only = True)

                Age  Billing Amount  Room Number  Length of Stay
Medication
Aspirin      569280    2.811633e+08      3287735          170429
Ibuprofen    568656    2.837849e+08      3328129          170366
Lipitor      565953    2.796819e+08      3327699          170788
Paracetamol  565494    2.802329e+08      3311691          170050
Penicillin   563300    2.792054e+08      3296350          170301